<% layout("/layouts/biolerplate") %>
<body style=>
    <div class="row">
        <div class="col col-6 offset-3">
            <div class="card" style="border:none;">
            <marquee behavior="alternate" direction=""><h2 style="color:red; padding:1rem;" >Invalid Username or password...</h2></marquee>
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/wrong-password-2121722-1786330.png" alt="image not loaded" class="offset-2" style="height:20rem; object-fit:contain;">
            <a href="/admin" class="btn btn-dark">Login Again</a>
            <a href="/homepage" class="btn btn-success mt-3">Go To Home</a>
        </div>
       
        </div>
        
    </div>
</body>