<% layout("/layouts/biolerplate") %>
<body>

    <div class="row">
        <div class="col col-6 offset-3">
        <div class="" style="padding:2rem;">
        <h2 style="color:rgb(128, 0, 0);" class="offset-4">Cart is Empty</h2>
        <img src="https://blogzine.webestica.com/assets/images/icon/empty-cart.svg" alt="" class="card-img-top" style="height:15rem;">
        
        <div class="flex-div cancel-order-div" style="justify-content: space-around;" >
            <form action="/loginHomepage">
                <button class="btn btn-primary mt-3" style="">Continue Shopping</button>
            </form>
        </div>
         </div>
       </div>
    </div>
</body>