<% layout("/layouts/biolerplate") %>
<body>
    <div class="card col-6 offset-3 mt-3 " style="border:none">
        <h2 style="color:red;" class="offset-5" >page Not found</h2>
        <img src="https://t4.ftcdn.net/jpg/03/88/63/83/360_F_388638369_wSBADhKfhiTx6Q5Pz1xfdpy6zotku1Sg.jpg" alt="" style="height:20rem;">
        <a href="/homepage" class="btn btn-dark">Go To Home</a>
    </div>
</body>